:root {
  --background-color: #eee;
  --secondary-color: #ddd;
  --light-grey: #444;
  --button-color: #f1c40f;
  --button-hover: #FFA500;
  --icon-color: #FF8C00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-padding-top: 100px;
}

body {
  background-color: var(--background-color);
  font-family: 'Lato', sans-serif;
}

#page-wrapper {
  postion: relative;
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btn {
  padding: 0 1.1rem;
  font-size: 1rem;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
}

.grid {
  display: flex;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 4.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
}

.logo {
  width: 60vw;
}

.logo > img {
  max-width: 300px;
  text-align: center;
  margin-left: 1.875rem;
}

nav {
  font-weight: 400;
  margin-right: 3.5rem;
}

nav > ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

nav > ul > li {
  margin-left: 1.875rem;
}

#form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 12.5rem;
  max-width: 60vw;
  margin-top: 8rem;
}

#form-container > h2 {
  margin-bottom: 1.1rem;
  word-wrap: break-word;
}

#form-container input[type='email'] {
  width: 100%;
  padding: 0.3rem;
}

#form-container input[type='submit'] {
  max-width: 150px;
  width: 100%;
  height: 2rem;
  margin: 1rem 0 0 0;
  border: 0;
  background-color: var(--button-color);
}

#form-container input[type='submit']:hover {
  background-color: var(--button-hover);
  transition: background-color 0.85s;
}

#features {
  margin-top: 1.8rem;
}

#features .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
  color: var(--icon-color);
}

#features .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 7.8rem;
  max-width: 65vw;
}

#how-it-works {
  display: flex;
  justify-content: center;
  margin: 5rem auto;
}

#how-it-works > iframe {
  width: 560px;
  height: 315px;
}

#pricing {
  display: flex;
  margin: 0 5rem;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  text-align: center;
  margin: 1rem;
  border: 1px solid #000;
  border-radius: 2px;
}

.product > .level {
  background-color: var(--secondary-color);
  padding: 1rem 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}

.product > h2 {
  margin-top: 1rem;
}

.product > ul {
  margin: 0.5rem 0;
}

.product > ul > li {
  padding: 0.3rem 0;
}

.product > button {
  height: 1.5rem;
  border: 0;
  margin: 1.2rem 0;
  background-color: var(--button-color);
  font-weight: 400;
}

.product > button:hover {
  background-color: var(--button-hover);
  transition: background-color 0.85s;
}

footer {
  margin-top: 4rem;
  background-color: var(--secondary-color);
  padding: 1.2rem;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 .9rem;
}

footer > .copyright {
  margin-top: 0.5rem;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: var(--light-grey);
}

@media (max-width: 550px) {
  #features .icon {
    display: none;
  }

  #features .desc {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 650px) {
  header {
    flex-wrap: wrap;
  }

  .logo {
    width: 100%;
    padding-top: 1.2rem;
    margin: 0 auto;
    text-align: center;
  }

  nav {
    margin-top: 1.1rem;
    width: 100%;
    margin-right: 0;
  }

  nav > ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  nav > ul > li {
    padding-bottom: 0.3rem;
    margin-left: 0;
  }

  #features {
    margin-top: 0;
  }

  #how-it-works > iframe {
    width: 100%;
  }
}

@media (max-width: 800px) {
  #pricing {
    flex-direction: column;
  }

  .product {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}
